
html, body {
  height: 100%;
  margin: 0;
  font-family: "Arial";
}

/* Root div to occupy the full screen */
#root {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #999;
  position: relative;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* App container */
.app {
  background-color: #999;
  width: 100%;
  height: 100%;
}

