/* Resume div to occupy the full screen */
.resume {
    display: flex;
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
    font-family: "Comic Sans MS" !important;
    background-color: #999 !important;
    position: relative !important;
    box-sizing: border-box;
  }
  
  /* Ensuring iframe occupies the whole resume div */
  .resume iframe {
    width: 100%;
    height: 100%;
    border: none; /* Removes default iframe border */
  }
  